<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Users</title>
    <style>
      table,
      td,
      th {
        border: solid 1px black;
      }
    </style>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <h2>Our proud users</h2>
    <form method="GET" action="http://localhost:8080/">
      <button>Back to home</button>
    </form>
    <br /><br /><br /><br />
    <table>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
      <% for (let user of users) { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
          <form method="GET" action="/users/<%=user.id%>/edit">
            <button>Edit</button>
          </form>
        </td>
        <td>
          <form method="GET" action="/users/<%=user.id%>/delete">
            <button>Delete</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
